@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    position: relative;
    background: #f5f5f5;
    background: url("/resources/img/background.jpg") no-repeat center;
    background-size: cover;
}

.close-button {
    cursor: pointer;
}

#hamburger-open {
    z-index: 1;
    position: relative;
    margin-top: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.spans {
    width: 100%;
    height: 10%;
    background-color: #111820;
    border-radius: 500px;
    opacity: 1;
    transition-property: background-color, transform, opacity;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.white {
    background-color: #f5f5f5;
    transition-duration: 0.5s;
    transition-delay: 1s;
}

.spanOneRotate {
    transform: translateY(9px) rotate(-45deg);
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.spanTwoRotate {
    transform: rotate(45deg);
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.spanThreeHide {
    transition-property: background-color, opacity;
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.modal-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0s;
    text-decoration: none;
}



.menuitem {
    content: "";
    position: absolute;
    width: 100%;
    top: 45%;
    left: -6px;
    background-color: #111820;
    height: 20em;
    z-index: -1;
    transition-property: all;
    transition-duration: 0.5s;
}

.menuitem:hover {
    background-color: #ff4338;
    transform: scaleY(5) translateY(-60%);
}

#as {
    color: #a5a5a5;
    text-decoration: none;
}

#as:hover {
    color: #f5f5f5;
    text-decoration: none;
}

.menuitem:hover {
    text-transform: none;
    color: #f5f5f5;
}

.show {
    opacity: 1;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 1s;
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 120px;
    margin: auto;
    position: relative;
    background-color: #2c3e50;
    z-index: 7;
}

.menu li {
    float: left;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.amain {
    color: white;
    text-decoration: none !important;
}

.amain:hover {
    color: black;
}

.atable {
    color: black;
    text-decoration: none !important;
}

.atable:hover {
    color: black;
}

.menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    z-index: 9;
}

a.active {
    background-color:black;
    pointer-events: none;
}

li.slider {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #16a085;
    z-index: 8;
    -webkit-transition: left 0.4s, background-color 0.4s;
    transition: left 0.4s, background-color 0.4s;
}

.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
    left: 0;
    background-color: #16a085;
}

.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
    left: 20%;
    background-color: #16a085;
}

.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
    left: 40%;
    background-color: #16a085;
}

.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
    left: 60%;
    background-color: #16a085;
}
.menu li:nth-child(5):hover ~ .slider,
.menu li:nth-child(5):focus ~ .slider,
.menu li:nth-child(5):active ~ .slider {
    left: 80%;
    background-color: #16a085;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 10vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
    width: 100%;
    background-color: #fff;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
}

.column100 {
    text-align: center;
    width: 130px;
    padding-left: 25px;
}

.column100.column1 {
    width: 265px;
    padding-left: 42px;
}

.row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
}

.row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
}

/*==================================================================
[ Ver1 ]*/
.table100.ver1 td {
    font-family: Montserrat-Regular sans-serif;
    font-size: 14px;

    line-height: 1.4;
}

.table100.ver1 th {
    font-family: Montserrat-Medium sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;

    background-color: #36304a;
}

.table100.ver1 .row100:hover {
    background-color: white;
}

.table100.ver1 .hov-column-ver1 {
    background-color: black;
}

.table100.ver1 .hov-column-head-ver1 {
    background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
    color: black;
}

.container {
    position: relative;
    margin: 0 auto;
}
.button,
.button::before,
.button::after,
.button span,
.button span::before,
.button span::after
{
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
}

.button{
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover
{
    box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}

.button span
{
    display: inline-block;
    width: 100%;
    padding: 0.6em 2em;
}

.button:hover span
{
    background-color: #36304a;
    color: white;
}

.button::before,
.button::after,
.button span::before,
.button span::after
{
    content: '';
    position: absolute;
    border: 1px;
}

.button::before,
.button span::before
{
    border-style: solid none;
}

.button::before,
.button span::after{
    left: 0;
    top: -0.4em;
    width: 100%;
    height: calc(100% + 0.8em);
}

.button::after,
.button span::after
{
    border-style: none solid;
}

.button::after,
.button span::before
{
    top: 0;
    left: -0.4em;
    height: 100%;
    width: calc(100% + 0.8em);
}

.button:hover::after,
.button:hover span::after
{
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.button:hover::before,
.button:hover span::before
{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.button:hover span::after,
.button:hover span::before
{
    opacity: 0;
}
.container .modal-button {
    padding: 20px 50px;
    display: inline-block;
    background: #EF233C;
    color: white;
    text-decoration: none;
    transition: 0.35s ease-in-out;
    font-weight: 700;
}
.container .modal-button span {
    font-size: 12px;
}
.container .modal-button:hover, .container .modal-button:focus {
    color: #16a085;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.container .modal-content,
.container .modal-background {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}
.container .modal-background {
    transition: height 250ms;
}
.container .modal-content {
    transform: scale(0);
    transition: transform 500ms;
}
.container #modal {
    display: none;
}
.container #modal:checked ~ .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
    transition: height 250ms;
}
.container #modal:checked ~ .modal-content {
    position: fixed;
    top: 70%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
    width: 50vw;
    height: auto;
    padding: 40px;
    background-color: white;
    border-radius: 3px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    cursor: auto;
    transform: scale(1);
    transition: transform 500ms;
}
.container #modal:checked ~ .modal-content .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: rgba(51, 51, 51, 0.4);
    transition: color 200ms, transform 500ms;
}
.container #modal:checked ~ .modal-content .modal-close:hover, .container #modal:checked ~ .modal-content .modal-close:focus {
    color: #333;
    transform: rotate(360deg);
}
.container #modal:checked ~ .modal-content p {
    position: relative;
    margin: 0 0 20px 0;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.6;
}
.container #modal:checked ~ .modal-content .modal-content-button {
    position: relative;
    float: right;
    margin: 0;
    padding: 10px 20px;
    color: white;
    font-weight: 100;
    border-radius: 3px;
    background-color: #2980b9;
}
.container #modal:checked ~ .modal-content .modal-content-button:hover, .container #modal:checked ~ .modal-content .modal-content-button:focus {
    background-color: #409ad5;
}


.form .text-input, .form .textarea, .form .label, .form .button {
    padding: 1em 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
}

.form .text-input, .form .textarea {
    font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    background: transparent;
    outline: none;
    color: black;
    margin-bottom: 5%;
}
.form .text-input:placeholder, .form .textarea:placeholder {
    color: rgba(0, 0, 0, 0.7);
}
.form .text-input:-webkit-autofill, .form .textarea:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}
.form .error.text-input, .form .error.textarea, .error .form .text-input, .form .error .text-input, .error .form .textarea, .form .error .textarea {
    border-color: transparent transparent red transparent;
}
.form:not(.has-floated-label) .text-input:active, .form:not(.has-floated-label) .textarea:active, .form:not(.has-floated-label) .text-input:focus, .form:not(.has-floated-label) .textarea:focus {
    border-color: transparent transparent black transparent;
}

.form .label {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    padding-left: 0;
    margin: 0;
}

.form .label {
    padding-top: 3%;
    font-size: 15;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.active .form .label, .form .active .label {
    margin-top: -10px;
    font-size: 15;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    color: rgba(0, 0, 0, 0.7);
    background: white;
}
.focus .form .label, .form .focus .label {
    color: black;
}

.form.has-floated-label .field:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid black;
    -webkit-transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.form.has-floated-label .field.focus:after {
    width: 100%;
}

.form .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14286em;
}
.form .button:hover, .form .button:focus, .form .button:active {
    color: white;
    background: black;
}
.form .button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.form {
    max-width: 50em;
    margin: 0 auto;
    padding: 1em 2em;
    box-sizing: border-box;
    overflow: hidden;
}
.form .field {
    position: relative;
    width: 100%;

}
@media screen and (min-width: 40em) {
    .form .field.half {

    }
    .form .field.half + .half {

    }
}
.form .field:last-child {
    float: right;
    width: auto;
}
.form .textarea {
    max-width: 100%;
}

svg path {
    fill: black;
}

a {
    text-decoration: none;
    color: inherit;
}

[id=footer] {
    margin-top: 5vh;
    padding: 5vh 0;
    text-align: center;
}
[id=footer] .container {
    position: relative;
}
[id=footer] .container:before, [id=footer] .container:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20px;
    z-index: 10;
    border-top: 2px solid;
    width: 10%;
    margin-bottom: 10vh;
}
[id=footer] .container:after {
    left: auto;
    right: 20px;
}
[id=footer] * {
    display: block;
}
[id=footer] * + * {
    margin-top: 5vh;
}
[id=footer] .logo {
    font-weight: 600;
    font-size: 1.5em;
}
[id=footer] .copy {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
}
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
.editform{
    position: fixed;
    top: 70%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
    width: 50vw;
    height: auto;
    padding: 40px;
    background-color: white;
    border-radius: 3px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    cursor: auto;
    transform: scale(1);
    transition: transform 500ms;
}